<ul class="nav nav-tabs" id="myprofile-tabs">
  <li class="<%= "active" if params[:show] == "edit-profile" || params[:show].blank? %>">
    <%= link_to "Edit Profile", edit_user_registration_path(current_user, :show => "edit-profile"), :data => { :toggle => "tab", :target => "#edit-profile" } %>
  </li>
  <li class="<%= "active" if params[:show] == "skills" %>">
    <%= link_to "My Skills", edit_user_registration_path(current_user, :show => "skills"), :data => { :toggle => "tab", :target => "#skills" } %>
  </li>
  <li class="<%= "active" if params[:show] == "preferences" %>">
    <%= link_to "Preferences", edit_user_registration_path(current_user, :show => "skills"), :data => { :toggle => "tab", :target => "#preferences" } %>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane <%= "active" if params[:show] == "edit-profile" || params[:show].blank? %>" id="edit-profile">
    <%= render_form_errors(resource.errors) %>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal", :multipart => true }, :defaults => { :input_html => { :class => "span4" } }) do |f| %>

      <%= f.input :email, :as => :email %>
      <%= f.input :username %>
      <%= f.input :about_me, :as => :text, :input_html => { :rows => 10 } %>
      <%= f.input :photo, :as => :image_upload %>
      <%= f.input :password, :as => :password, :hint => "Leave blank if you don't want to change it" %>
      <%= f.input :password_confirmation, :as => :password %>
      <%= f.input :current_password, :hint => "We need your current password to confirm your changes" %>

      <div class="form-actions">
        <%= f.submit "Update", :class => "btn btn-primary btn-large" %>
      </div>
    <% end %>
  </div>
  <div class="tab-pane <%= "active" if params[:show] == "skills" %>" id="skills">
    <p>
      <%= link_to "New Skill", new_skill_path, :class => "ym-button ym-add" %>
      <%= render :partial => 'skills/index', :locals =>{ :withActions => true } %>
    </p>
  </div>
  <div class="tab-pane <%= "active" if params[:show] == "preferences" %>" id="preferences">
    <p>
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
    </p>
  </div>
</div>