<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#task_due_date').datepicker({dateFormat: 'yy-mm-dd', firstDay: 1, minDate: 0})
    });
  </script>
<% end %>

<%= tinymce_assets %>
<% @task.project_id ||= params[:project_id] %>
<%= form_for [@task.project, @task], :html => { :class => "ym-form linearize-form ym-columnar"} do |f| %>
  <% if @task.errors.any? %>
    <div class="box error">
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :project_id %>
  <div class="ym-fbox-text">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :due_date %>
    <%= f.text_field :due_date, :readonly => "readonly" %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :budget %>
    <%= f.text_field :budget %>
  </div>
  <div class="ym-fbox-text">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "tinymce" %>
  </div>
  <div class="ym-fbox-button">
    <%= f.submit %>
    <%= link_to "Cancel", :back, :class => "ym-button" %>
  </div>
<% end %>

<%= tinymce %>