<%= render "projects/bids/new" %>

<%= breadcrumb @task, :buttons => true %>

<%= render_form_errors(@task.errors, (@bid.errors unless @bid.nil?)) %>

<div class="row-fluid">
	<div class="span8">
		<h4>Maximum Budget</h4>
		<p><%= number_to_currency @task.budget, :unit => "€" %></p>
		<h4>Task Description</h4>
		<div class="description"><%= raw @task.description %></div>
        <% if @task.project.is_owner(current_user) && @task.bids.count > 0 %>
            <h4>Bids</h4>
            <%= form_for([@task.project, @task], :html => { :class => "ym-form linearize-form ym-columnar"}) do |f| %>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Amount</th>
                            <th>Comment</th>
                            <th>Accept</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @task.bids.each do |bid| %>
                        <tr>
                            <td><%= generate_hover_profile(bid.user) %></td>
                            <td><%= number_to_currency bid.amount, :unit => "€" %></td>
                            <td><%= bid.comment %></td>
                            <td><%= f.radio_button :accepted, bid.id, :disabled=> @task.bid_id!=nil ? true : false %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
                <div class="ym-fbox-button">
                    <%= f.submit "Accept selected bid", :class => "btn btn-primary" %>
                </div>
            <% end %>
        <% end %>
	</div>
	<div class="span4">
		<div class="icons deadline">
			<h3><%= distance_of_time_in_words_to_now @task.due_date %></h3>
			<span>left (<%= @task.due_date %>)</span>
		</div>
		<div class="icons offers">
			<h3><%= @task.bids.count %></h3>
			<span>Bid(s) on this Task</span>
		</div>
	</div>
</div>