<h3><%= link_to @task.project.name, projects_show_path(@task.project) %> / <%= @task.name %></h3>

<div class="ym-grid">
	<div class="ym-g66 ym-gl">
		<div class="ym-gbox">
			<h4>Maximum Budget</h4>
			<p><%= number_to_currency @task.budget, :unit => "€" %></p>
			<h4>Task Description</h4>
			<div class="description"><%= raw @task.description %></div>
		</div>
	</div>
	<div class="ym-g33 ym-gr">
		<div class="ym-gbox">
			<div class="icon-box deadline">
				<h3><%= distance_of_time_in_words_to_now @task.due_date %></h3>
				<span>left (<%= @task.due_date %>)</span>
			</div>
			<div class="icon-box offers">
				<h3>0</h3>
				<span>Bid(s) on this Task</span>
			</div>

			<%= link_to 'Place bid', '', :class => "ym-button" %>
			<%= link_to 'Edit Task', projects_tasks_edit_path(@task), :class => "ym-button" %>
		</div>
	</div>
</div>