<h3>Projects</h3>
<div class="row-fluid">
	<div class="span3">
		<ul class="categories-sidenav nav nav-list">
			<% if params.has_key?(:category_id) %>
				<li>
					<%= link_to projects_path do %>
						<i class="icon-chevron-right"></i>All
					<% end %>
				</li>
			<% else %>
				<li class="active">					
					<%= link_to projects_path do %>
						<i class="icon-chevron-right"></i>All
					<% end %>
				</li>
			<% end %>
			<% @categories.each do |parent| %>
				<li class="nav-header"><%= parent.name %></li>
					<% parent.child_categories.each do |category| %>
						<% if params[:category_id] == category.to_param %>
							<li class="active">
								<%= link_to projects_path(:category_id => category) do %>
									<i class="icon-chevron-right"></i><%= category.name %>
								<% end %>
							</li>
						<% else %>
							<li>
								<%= link_to projects_path(:category_id => category) do %>
									<i class="icon-chevron-right"></i><%= category.name %>
								<% end %>
							</li>
						<% end %>
					<% end %>
			<% end %>
	</ul>
	</div>

	<%= render 'index' %>
	
</div>