<h3>Projects</h3>
<div class="row-fluid">
	<div class="span3">
		<ul class="categories-sidenav nav nav-list">
			<% if params.has_key?(:category_id) %>
				<li>
					<%= link_to projects_path do %>
						<i class="icon-chevron-right"></i>All
					<% end %>
				</li>
			<% else %>
				<li class="active">					
					<%= link_to projects_path do %>
						<i class="icon-chevron-right"></i>All
					<% end %>
				</li>
			<% end %>
			<% @categories.each do |parent| %>
				<li class="nav-header"><%= parent.name %></li>
					<% parent.child_categories.each do |category| %>
						<% if params[:category_id] == category.to_param %>
							<li class="active">
								<%= link_to projects_path(:category_id => category) do %>
									<i class="icon-chevron-right"></i><%= category.name %>
								<% end %>
							</li>
						<% else %>
							<li>
								<%= link_to projects_path(:category_id => category) do %>
									<i class="icon-chevron-right"></i><%= category.name %>
								<% end %>
							</li>
						<% end %>
					<% end %>
			<% end %>
	</ul>
	</div>
	<div class="span9">
		<table class="table table-hover">
			<thead>
				<th width="60%">Project Name</th>
				<th width="20%">Client</th>
				<th width="20%">Tasks Available</th>
			</thead>
			<tbody>
				<% @projects.each do |project| %>
					<tr class="project">
						<input type="hidden" value="<%= project.id %>"/>
						<td>
							<%= link_to project_path(project) do %>
								<p><strong><%= project.name %></strong></p>
								<span><%= truncate sanitize(project.description, :tags => []), :omission => "... (read more)", :length => 200 %></span>
							<% end %>
						</td>
						<td><%= link_to User.find_by_id(project.user_id).contactName, user_show_path(project.user_id) %></td>
						<td><%= project.available_tasks %>/<%= project.tasks.count %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @projects %>
	</div>
</div>