<%= tinymce_assets %>

<h3>New Project</h3>

<%= form_for(@project, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @project.errors.any? %>
    <div class="box error">
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this Project from being saved:</h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :class =>"tinymce input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => "control-label" %>
    <div class="controls">
      <%= grouped_collection_select(:project, :category_id, @categories, :child_categories, :name, :id, :name) %>
    </div>
  </div>
  <div class="form-actions">
      <p>To make your project available, please create at least one task within the next form</p>
      <%= f.submit :class => "btn btn-primary btn-large" %>
  </div>
<% end %>

<%= tinymce %>