<%= tinymce_assets %>

<h3>New Project</h3>

<%= simple_form_for @project, :html => { :class => 'form-horizontal' }, :defaults => { :input_html => { :class => "span4" } } do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.input :name %>
  <%= f.input :description, :as => :text, :input_html => { class: "tinymce"} %>
  <%= f.input :category_id,
      :collection => @categories,
      :as => :grouped_select,
      :group_method => :child_categories
  %>

  <h4>Create First Task</h4>
  <div class="well">
    <%= f.fields_for :tasks do |builder| %>
      <%= builder.input :project_id, :as => :hidden %>
      <%= builder.input :name %>
      <%= builder.input :due_date, :as => :date_picker %>
      <%= builder.input :budget, :as => :currency %>
      <%= builder.input :description, :as => :text, :input_html => { class: "tinymce"} %>
    <% end %>
  </div>

  <div class="form-actions">
      <p>You can add more tasks later on.</p>
      <%= f.submit :class => "btn btn-primary btn-large" %>
  </div>
<% end %>


<%= tinymce %>