<h3>Show Project</h3>

<div class="ym-grid">
	<div class="ym-g20 ym-gl">
		<div class="ym-gbox">a
		</div>
	</div>
	<div class="ym-g80 ym-gr">
		<div class="ym-gbox">
			<div class="ym-grid">
				<div class="ym-g40 ym-gl">
					<div class="ym-gbox"><strong>Project Name</strong></div>
				</div>
				<div class="ym-g60 ym-gl">
					<div class="ym-gbox"><%= @project.name %></div>
				</div>
			</div>
			<div class="ym-grid">
				<div class="ym-g40 ym-gl">
					<div class="ym-gbox"><strong>Project Client</strong></div>
				</div>
				<div class="ym-g60 ym-gl">
					<div class="ym-gbox"><%= @project.name %></div>
				</div>
			</div>
			<div class="ym-grid">
				<div class="ym-g40 ym-gl">
					<div class="ym-gbox"><strong>Project Description</strong></div>
				</div>
				<div class="ym-g60 ym-gl">
					<div class="ym-gbox"><%= @project.description %></div>
				</div>
			</div>

		</div>
		<div class="ym-gbox">
			<%= render 'projects/tasks/index' %>
		</div>
		<div class="ym-fbox-button">
		  <%= link_to "Add Task", projects_tasks_new_path(:project_id=>@project.id), :class => "ym-button" %>  
		</div>
	</div>
</div>