<%= breadcrumb @project, :buttons => true %>

<div class="row-fluid">
	<div class="span8">
		<h4>Project Description</h4>
		<div class="description"><%= raw @project.description %></div>
		<%= render 'projects/tasks/index' %>
	</div>
	<div class="span4">
		<div class="icons person">
			<h3><%= generate_hover_profile(User.find_by_id(@project.user_id)) %></h3>
			<span>Is your contact</span>
		</div>
		<div class="icons tasks">
			<h3><%= @project.tasks.count %></h3>
			<span>Task(s) on this project</span>
		</div>
	</div>
</div>