<h3><%= @user.contactName %></h3>

<h4>E-Mail</h4>
<span><%= @user.email %></span>
<h4>Username</h4>
<span><%= @user.username %></span>
<h4>About Me</h4>
<span><%= @user.about_me %></span>
<%= image_tag @user.photo.url(:medium) %>
<h4>Skills</h4>
<%= render 'skills/index' %>