<ul class="breadcrumb">
	<li class="active">Users<span class="divider">/</span></li>
	<li class="active"><%= @user.contactName %></li>
</ul>

<div class="pull-right"><%= image_tag @user.photo.url(:medium), :class => "img-polaroid" %></div>
<h4>E-Mail</h4>
<span><%= @user.email %></span>
<h4>Username</h4>
<span><%= @user.username %></span>
<h4>About Me</h4>
<span><%= @user.about_me %></span>
<h4>Skills</h4>
<%= render 'skills/index' %>