<%= render_form_errors(resource.errors) %>

<h3>Change your password</h3>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <%= f.input :password, :label => "New password", :as => :password %>
  <%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.input :password_confirmation, :label => "Confirm new password", :as => :password %>

  <div class="form-actions">
  	<%= f.submit "Change my password", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
