<h3>My Bids</h3>
<ul class="nav nav-pills">
	<li class="<%= "active" if params[:show] == "open" || params[:show].blank? %>">
		<%= link_to "Open",
			my_bids_path(:show => :open),
			:data => { :toggle => "tabajax", :target => "#open" }, :remote => true
		%>
	</li>
	<li class="<%= "active" if params[:show] == "accepted" %>">
		<%= link_to "Accepted",
			my_bids_path(:show => :accepted),
			:data => { :toggle => "tabajax", :target => "#accepted" }, :remote => true
		%>
	</li>
	<li class="<%= "active" if params[:show] == "declined" %>">
		<%= link_to "Declined",
			my_bids_path(:show => :declined),
			:data => { :toggle => "tabajax", :target => "#declined" }, :remote => true
		%>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="open">
		<%= render :file => "projects/bids/mybids-table" %>
	</div>
	<div class="tab-pane" id="accepted"></div>
	<div class="tab-pane" id="declined"></div>
</div>