<h3>Sign in</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "ym-form linearize-form ym-columnar"}) do |f| %>
  <div class="ym-fbox-text">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="ym-fbox-text">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="ym-fbox-check">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="ym-fbox-button"><%= f.submit "Sign in", :html => { :class => "ym-button" } %></div>
<% end %>

<%= render "devise/shared/links" %>
