  <% if @user.errors.any? %>
    <div class="box error">
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="ym-fbox-text">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="ym-fbox-text">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="ym-fbox-text">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="ym-fbox-text">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<h6 class="ym-fbox-heading">Roles</h6>

<% for role in Role.find(:all) %> 
  <div class ="ym-fbox-check">
    <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> 
    <%= f.label role.name %>
  </div>
<% end %>


<div class="ym-fbox-button">
  <%= f.submit "Save" %>
	<%= link_to "Cancel", admin_users_path, :class => "ym-button" %>
</div>
