<h3>Users</h3>
<%= link_to "New", new_admin_user_path, :class => 'ym-button ym-add' %>
<table>
 <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>
      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
    </th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= link_to user.email, user_show_path(user) %></td>
    <td><%= user.created_at %></td>
    <td>
      <%= link_to "Show", user_show_path(user), :class => "ym-button ym-play" %>
      <%= link_to "Edit", edit_admin_user_path(user), :class => "ym-button ym-edit" %>
      <%= link_to "Destroy", admin_user_path(user), :class => "ym-button ym-delete", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= will_paginate @users %>