<!DOCTYPE html>
<html>
<head>
  <title>Let Me Do It</title>
  <%= stylesheet_link_tag "yaml/core/base.min.css", :media => "all" %>
  <%= stylesheet_link_tag "yaml/forms/gray-theme", :media => "all" %>
  <%= stylesheet_link_tag "yaml/screen/typography", :media => "all" %>
  <%= stylesheet_link_tag "yaml/add-ons/accessible-tabs/tabs.css", :media => "all" %>
  <%= stylesheet_link_tag "screen", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "yaml/add-ons/accessible-tabs/jquery.tabs.js" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>
  <div id="site-background">
    <div id="site-wrap">
      <div id="site-header">
        <div id="site-user">
          <% if user_signed_in? %>
            <%= link_to 'My Profile', user_root_path %>
            <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>  
          <%else%>
            <%= link_to 'Login', new_user_session_path %>  
            <%= link_to 'Register', new_user_registration_path %>  
          <%end%>
        </div>
        <div id="site-logo"><a href="/" title="Home"><img src="/images/logo.png" alt="Home" id="logo"></a></div>
        <div id="site-menu">
          <ul class="menu">
            <li class="leaf first">
              <%= link_to 'Home', root_path %>
            </li>
            <li class="leaf">
              <%= link_to 'Explore Projects', root_path%>
            </li>
            <li class="leaf last">
              <%= link_to 'Create a Project', root_path %>
            </li>
          </ul>
        </div>
      </div>
      <div id="site-content">
        <div id="content-wrapper">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          <%- end -%>
          <%= yield %>
        </div>
      </div>
      <div id="site-footer">
      </div>
    </div>
  </div>
</body>
</html>
