<!DOCTYPE html>
<html>
<head>
  <title>Let Me Do It</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>
  <div id="site-background">
    <div id="site-wrap">
      <div id="site-header">
        <div id="site-user">
          <%= render '/home/login' %>
        </div>
        <div id="site-logo"><a href="/" title="Home"><img src="/images/logo.png" alt="Home" id="logo"></a></div>
        <div class="site-menu">
          <div class="btn-group pull-left">
            <%= link_to 'Home', root_path, :class => "btn btn-primary" %>
            <%= link_to 'Explore Projects', projects_path, :class => "btn btn-primary" %>
            <%= link_to 'Create a Project',new_project_path, :class => "btn btn-primary" %>
          </div>
          <% if user_signed_in? %>
            <div class="btn-group pull-right">
              <%= link_to 'My Projects', my_projects_path, :class => "btn btn-primary" %>
              <%= link_to 'My Bids', my_bids_path, :class => "btn btn-primary" %>
              <% if (notification_count = Notification.pull(current_user).count) > 0 %>
                <%= render "users/notifications/modal" %>
                <%= link_to my_notifications_path, :class => "btn btn-primary", :'data-toggle' => "modal", :'data-target' => "#notifications", :'data-remote' => false do %>
                  Notifications <span class="badge badge-success"><%= notification_count %></span>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="site-content">
        <div id="content-wrapper">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, '<span class="icon"></span>'.html_safe + msg, :id => "flash_#{name}", :class => "top-msg #{name}" if msg.is_a?(String) %>
          <%- end -%>
          <%= yield %>
        </div>
      </div>
      <div id="site-footer">
      </div>
    </div>
  </div>
</body>
</html>
